@model IEnumerable<CondominiumWebApp.Models.Property>

@{
    ViewData["Title"] = "Index";
}

<h1>Propiedades Registradas</h1>

<p>
    <a asp-action="Create">Registrar</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PropertyPasscode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PropertyType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Block)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Owner)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Street)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PropertyDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PropertyPasscode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PropertyType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Block.BlockId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Owner.OwnerId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Street.StreetId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PropertyDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PropertyId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.PropertyId">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.PropertyId">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>









