@model IEnumerable<CondominiumWebApp.Models.Property>

@{
    ViewData["Title"] = "Index";
}

<h1>Propiedades Registradas</h1>

<p>
    <a asp-action="Create">Registrar</a>
</p>
<table class="table table-bordered">
    <thead>
        <tr class="table-primary table-bordered">
            <th>
                @Html.DisplayNameFor(model => model.PropertyPasscode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PropertyType)
            </th>
            <th>Bloque</th>
            <th>Calle</th>
            <th>Numero</th>
            <th>Propietario</th>
            <th>
                @Html.DisplayNameFor(model => model.PropertyDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr class="table-info">
            <td>
                @Html.DisplayFor(modelItem => item.PropertyPasscode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PropertyType)
            </td>
            <td>@Html.DisplayFor(modelItem => item.Block.BlockName)</td>
            <td>@Html.DisplayFor(modelItem => item.Street.StreetNumber)</td>
            <td>@Html.DisplayFor(modelItem => item.PropertyNumber)</td>
            <td>@($"{item.Owner.OwnerName} {item.Owner.OwnerSurname}")</td>

            <td>
                @Html.DisplayFor(modelItem => item.PropertyDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PropertyId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.PropertyId">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.PropertyId">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
